@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy col-12">
    <p class="privacy-heading display-4 text-center">Privacy policy</p>
    <p class="privacy-paragraph">The following application has been created to showcase my skills in web development.</p>
    <p class="privacy-paragraph">In order to know a bit more about me, please <a href="https://ramim96.github.io/portfolio.github.io/" target="_blank">click here</a> to check my portfolio.<p>
</div>

